<div id="imgIzq">
        
        <img src="img/logo.jpg" style="margin-left:17px; "/>
        <img src="img/o.png" style="margin-left:20px; margin-top:60%;  bottom:5px;"/>
       
	<img src="img/logo_liveroom.png" width="87px" height="30px" style="margin-left:20px; bottom:5px;" />
       <img src="img/logo_visual.png" width="80px" height="35px" style="margin-left:5px;  bottom:5px;" />
        <a href="http://www.daixe.com.mx/" target="_blank" ><img src="img/logo_daixe.png" width="100px" height="45px" style="margin-left:50px; border:none; float:bottom;" /></a>
    
    </div>
    
    <div id="content">
	
	    <div id="info0" >
            <img src="img/F45082923.png"width="1179px" height="632px" style="margin-top:60px; margin-left:190px;"/>
        </div>
        
        <div id="info1" >
            <p style="font-size:36pt;">.."Primer Concurso <br/>
            de Social Media"..</p>
            <p style="font-size:24pt;">impulsando la cultura digital en<br/>
            m&eacute;xico</p>
            <img src="img/imagenes/grito3.png"width="220px" height="280px" style="margin-top:60px;"/>
        </div>
        
        <div id="info2">
            
            <p style="font-size:12pt; text-align: justify; float:left; margin-top:260px; width:300px;">
            <a style="font-size:14pt;  font-weight:bold;">alarido social media contest..<br/></a>
            El concurso &ldquo;Alarido&rdquo; es un evento donde equipos
            compiten para realizar estrategias de Social
            Media bas&aacute;ndose en los principios de Marketing
            Web para un caso real con recursos asignados. </p>
            <p style="padding:10px; float:right; margin-top:20px; background-image:url(img/cuadros/amarillo.png); text-align:justify; width=120px;  margin-left:160px;">
                <a style="font-size:14pt;  font-weight:bold;">para participar..<br/></a>
               Arma tu equipo de 3 personas.<br/>
                Inscr&iacute;bete aqu&iacute; antes del 16 de Abril<br/>
                del 2010<br/>
                Estudiantes: $350.00 MXN por equipo.<br/>
                General: $700.00 MXN por equipo.<br/>
                
            </p>
           
            
            
        </div>
        <div id="info3">
            
               <p style="padding:10px; float:left; margin-top:40px; background-image:url(img/cuadros/gris.png); text-align:justify; width=300px;">
                <a style="font-size:14pt;  font-weight:bold;">qui&eacute;nes pueden participar..<br/></a>
                Estudiantes, creativos, freelancers, comunic&oacute;logos,<br/>
                mercad&oacute;logos, dise&ntilde;adores y todos aquellos mexicanos<br/>
                que compartan un gusto por la cultura digital.
            </p>
    
                <p style=" float:right; margin-top:140px; text-align:justify; width=300px;  margin-left:100px;">
                <a style="font-size:14pt;  font-weight:bold;">din&aacute;mica<br/></a>
                El concurso comienza el 17 de Abril.<br/>
                Los equipos tendr&aacute;n 36hrs para desarrollar<br/>
                una estrategia de Social Media que ser&aacute;n<br/>
                evaluadas por especialistas en el &aacute;rea y<br/>
                para elegir al ganador.
            </p>
    
        </div>
        
        <div id="info4">
            
              <p style="padding:10px; float:right; margin-top:480px; background-image:url(img/cuadros/amarillo.png); text-align:left;">
                <a style="font-size:14pt;  font-weight:bold;">evaluaci&oacute;n<br/></a>
                     -Impacto y fundamentaci&oacute;n (50%)<br/>
                    -Originalidad (25%)<br/>
                     -Calidad de los entregables (organizaci&oacute;n, estilo, escritura) (25%).<br/>

            </p>
            
            
        </div>
        
        <div id="info5">
            
            <img src="img/imagenes/grito2.png"width="220px" height="280px" style="margin-top:30px;"/>
             <p style="padding:10px; float:right; margin-top:380px; background-image:url(img/cuadros/amarillo.png); text-align:justify; ">
                <a style="font-size:12pt;  font-weight:bold;"> Entregables:</a><br/>
                -Resumen Ejecutivo<br/>
                -Presentaci&oacute;n de Venta<br/>
                -Video de 3 minutos<br/>

            </p>
    
        </div>
        
          <div id="info6">
            
              <p style="padding:10px; float:right; margin-top:50px; text-align:left;">
                   <a style="font-size:12pt;  font-weight:bold;"> Social Media:</a><br/>
                   <a style="text-align:justify;">
                    Tus herramientas de trabajo ser&aacute;n:<br/></a>
                   <br/>
                    1.	Blogs<br/>
                    2.	Bookmarking/Tagging<br/>
                    3.	Monitoreo de marca<br/>
                    4.	Agregaci&oacute;n de Contenido<br/>
                    5.	Votaci&oacute;n/Crowdsourcing<br/>
                    6.	Foros de discusi&oacute;n<br/>
                    7.	Eventos y encuentros<br/>
                    8.	Mashups<br/>
                    9.	Microblogging<br/>
                    10.	Video online<br/>
                    11.	Programas de Extensi&oacute;n<br/>
                    12.	Podcasting<br/>
                    13.	Compartir fotograf&iacute;as<br/>
                    14.	Compartir presentaciones<br/>
                    15.	Relaciones p&uacute;blicas - lanzamientos en Social Media.<br/>
                    16.	Puntuaciones y comentarios<br/>
                    17.	Redes Sociales: aplicaciones, p&aacute;ginas de fans, grupos y personalidades.<br/>
                    18.	Patrocinios, espacios publicitarios.<br/>
                    19.	Mundos virtuales.<br/>
                    20.	Widgets<br/>
                    21.	Wikis.<br/>
            </p>
    
        </div>
        
             <div id="info7">
            
             <p style="padding:10px; float:left; margin-top:50px; background-image:url(img/cuadros/gris.png); text-align:justify; ">
                <a style="font-size:12pt;  font-weight:bold;"> reglas...</a>
              <br/>
                para entrar al concurso, los participantes
                asumen el conocimiento y acatamiento de
                las presentes reglas y a las decisiones de
                los jueces, las cuales son inapelables.
            </p>
            
            <img src="img/imagenes/grito5.png"width="220px" height="280px" style="margin-top:170px; float:right;"/>
    
        </div>
        
         <div id="info8">
            
              <p style="padding:10px; float:right; margin-top:100px; background-image:url(img/cuadros/amarillo.png); text-align:left;">
                <a style="font-size:14pt;  font-weight:bold;">premios...<br/></a>
        
                    habr&aacute; dos premios por cada categor&iacute;a. <br/>
                    - Un premio para la mejor estrategia
                    evaluada por jueces especialistas en
                    Social Media.<br/>
                    
                    - Un premio para la estrategia m&aacute;s
                    popular evaluada por la comunidad.<br/> 
                    <br/>
                    Cada categor&iacute;a ser&aacute; representada por
                    una empresa y un caso real.<br/>
                    <br/>
                    Los ganadores del concurso ser&aacute;n
                    anunciados el d&iacute;a 12 de Mayo del 2010
                    por medio del sitio web del evento. 
                    La entrega de premios ser&aacute; el s&aacute;bado
                    15 de Mayo del 2010. Para aquellos
                    participantes que est&eacute;n en posibilidad
                    de asistir al evento realizado para tal
                    fin, se les har&aacute; entrega en ese momento.
                    A quienes por diversas circunstancias no
                    puedan asistir, los organizadores del
                    concurso pondr&aacute;n en contacto con el
                    equipo ganador para hacerle llegar su
                    premio correspondiente.
            </p>
            
            
        </div>
        
              <div id="info9">
            
            <img src="img/imagenes/grito4.png"width="220px" height="280px" style="margin-top:30px; float:right;"/>
             <p style="padding:10px; float:left; margin-top:240px; text-align:left; width:300px; ">
                <a style="font-size:14pt;  font-weight:bold;">conferencias..</a><br/>
                antes del concurso se ofrecer&aacute; un ciclo de
                conferencias con los mejores especialistas
                en Social Media. <br/>
                - Las conferencias se llevaran a cabo el
                16 de Abril. <br/>
                - 3 especialistas compartir&aacute;n sus
                experiencias en los temas de Social Media,
                Creatividad e Innovaci&oacute;n.  
            </p>
    
        </div>
        
        
        <div class="clear"></div>
    </div>
    
	<div id="imgBajo">
		
		<img  src="img/flecha.png"  width="50px" height="50px" />
		
	</div>	
    
    <div id="imgLink">
        
        <a href=" http://www.flickr.com/photos/alarido/" target="_blank"><img src="img/flickr.png" style="float:right; margin-left:5px;  border:none;" width=25px; height=25px; /></a>
        <a href="http://picasaweb.google.com/alaridosmc" target="_blank"><img src="img/picasa.png" style="float:right; margin-left:5px;  border:none;" width=25px; height=25px; /></a>
        <a href="http://www.youtube.com/user/alaridosmc" target="_blank"><img src="img/youtube.png" style="float:right; margin-left:5px;  border:none;" width=25px; height=25px; /></a>
         <a href="http://www.twitter.com/alaridosmc" target="_blank"><img src="img/twitter.png" style="float:right; margin-left:5px;  border:none;" width=25px; height=25px; /></a>
        <a href="http://www.facebook.com/alaridosmc" target="_blank"><img src="img/facebook.png" style=" float:right; margin-left:5px; border: none; " width=25px; height=25px;/></a>
       <img id="boton_donar" style="float:right; cursor:pointer;" />
        
        
	<img id="boton_registro" style="float:right;" />
	    
	  <img id="boton_info" style="float:right;" />
            
            <div id="informacion"> 
                
                   <div class="details2">
			
			<a href="infoAlarido.pdf" id="boton_pdf" style="margin-top:10px;"></a> 
                    
                   </div> 
                
            </div>
	   
            <div id="registro"> 
                
                   <div class="details"> 
                       <h3 style="font-size:16pt;">Registro de Participantes</h3> 
                
                       <h4>Alarido SMC</h4> 
                
                       <p>
					<p  style="font-size:11pt;">Inscripci&oacute;n a Alarido Social Media Contest (General) :<br/> $700 p/e.</p>
					<p><%= link_to '', new_general_path, {:id => "boton_rg"} %></p>

					<p  style="font-size:11pt;">Inscripci&oacute;n a Alarido Social Media Contest (Estudiante) :<br/> $350 p/e.</p>
                                        <p><%= link_to '', new_estudiante_path, {:id => "boton_re"} %></p>

		      </p>
                   </div> 
                
            </div>    
	    <div id="donativo"> 
                
                   <div class="details1"> 
                       <h3 style="font-size:16pt; margin-top:20px;">Donativos:</h3> 
                
                       <h4>Alarido SMC</h4> 
                
                       <p>
				      
				
				
				
				<p><%= link_to '', {:controller=>'publicos', :action=>'empresas'}, {:id => "boton_em"} %></p>
				<p><%= link_to '', new_empresa_path, {:id => "boton_qe"} %></p>
		   
			
			
                                        
                                        <p  style="font-size:8pt; text-align:justify;">Necesitamos verificar tu pago para poder mostrar la informaci&oacute;n de tu empresa, esto puede tardar algunas horas....</p>
	      		</p> 
                   </div>
                
            </div>
    </div>